<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Games</title>
</head>
<body>
    <h1>Video Game Search</h1>
    <form 
        th:action="@{/search}"
        method="get">
        <div>
            Search Name: <input type="text" th:name="searchName" required/>
        </div>
        <div>
        Number of results: 
            <select th:name="noOfGames">
                <option th:value="10"></option>
                <option th:value="5">5</option>
                <option th:value="10">10</option>
                <option th:value="15">15</option>
                <option th:value="20">20</option>
            </select>
        </div>
        <input type="submit" value="Search"/>
    </form>
</body>
</html>