<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Games</title>
</head>
<body>
    <div th:if="${listOfGames.size > 0}">
        <div th:each="game : ${listOfGames}" style="padding-bottom: 2%;">
            <img th:src="${game.backgroundImage}" height="300" width="300"/>
            <div>
                <p style="display:inline">Title: </p>
                <p th:text="${game.name}" style="display:inline"></p>
            </div>
            <div>
                <p style="display:inline">Rating: </p>
                <p th:text="${game.rating}" style="display:inline"></p>
            </div>
        </div>
    </div>
    <div th:unless="${listOfGames.size > 0}">
        <h1>No Games Found</h1>
    </div>
</body>
</html>